<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
	"http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	
	<bean
		id="org.sakaiquebec.opensyllabus.hibernate.AdditionalHibernateMappings"
		class="org.sakaiproject.springframework.orm.hibernate.impl.AdditionalHibernateMappingsImpl">
		<property name="mappingResources">
			<list>
			</list>
		</property>
	</bean>

	<bean id="ca.hec.cdm.dao.CatalogDescriptionDao"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		
		<property name="transactionManager"	ref="org.sakaiproject.springframework.orm.hibernate.GlobalTransactionManager" />
		
		<property name="target">
			<bean class="ca.hec.cdm.dao.impl.CatalogDescriptionDaoImpl"
				singleton="true" init-method="init">

 				<property name="sessionFactory" ref="org.sakaiproject.springframework.orm.hibernate.GlobalSessionFactory"/>
			</bean>
		</property>
		
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
</beans>
